<div class="margin-top-16 member-info-section">
    <div class="ucgHeader">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="margin-top-16">Transactions</h4>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="transactionForm" #transaction="ngForm" class="margin-bottom-40 ucg-container">
        <div class="ucgHeader-1">
            <div class="row">
                <div class="col-md-2">
                    <h4 class="margin-top-16 ">Organization Name</h4>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <input *ngIf="hasTenantAdmin" matInput readonly [value]="tenantName">
                        <mat-label>Select Organization</mat-label>
                        <mat-select *ngIf="!hasTenantAdmin" multiple formControlName="tenantName"  tabindex="1" required
                            [disabled]="hasTenantAdmin">
                            <mat-option (click)="toggleAllTenantSelection()" value="select-all">Select All</mat-option>
                            <mat-option *ngFor="let tenant of tenants" [value]="tenant.tenantId" (click)="tenantSelection()">
                                {{tenant.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            <span *ngIf="!transactionForm.get('tenantName')?.valid">
                                Organization name is required.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <h4 class="margin-top-16 ">Site Name</h4>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Select Site</mat-label>
                        <mat-select formControlName="siteName" multiple required tabindex="2">
                            <mat-option (click)="toggleAllSiteSelection()" value="select-all">Select All</mat-option>
                            <mat-option *ngFor="let site of sites" [value]="site.siteId" (click)="siteSelection()">
                                {{site.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            <span *ngIf="!transactionForm.get('siteName')?.valid">
                                Site name is required.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <h4 class="margin-top-16 ">Trans Start Date</h4>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Select Transaction Start Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date"
                            [max]="maxDate" required readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>
                            <span *ngIf="!transactionForm.get('date')?.valid">
                                Transaction Start Date is required.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <h4 class="margin-top-16 ">Trans End Date</h4>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Select Transaction End Date</mat-label>
                        <input matInput [matDatepicker]="enddatepicker" formControlName="enddate" placeholder="Choose a date"
                        [disabled]="!transactionForm.get('date')?.value"
                        [min]="transactionForm.get('date')?.value" required readonly>
                        <mat-datepicker-toggle matSuffix [for]="enddatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #enddatepicker></mat-datepicker>
                        <mat-error>
                            <span *ngIf="!transactionForm.get('enddate')?.valid">
                               Transaction End Date is required.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-10">
                </div>
                <div class="col-md-2 text-right">
                    <button mat-raised-button color="primary" class="btn-primary" (click)="transactions();">Show
                        Transactions</button>
                </div>
            </div>
        </div>
    </form>

    <div class="tenantListContainer ucg-container">
        <div class="tenantFilterSection container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <span class="title-section">
                        <h4>Transaction List</h4>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Filter by TransactionLogId</mat-label>
                        <input type="text" matInput [formControl]="transactionLogIdControl"
                            [matAutocomplete]="autoTransactionLogId" (change)="filterChange(filterSelectObj[1], $event)">
                        <mat-autocomplete autoActiveFirstOption #autoTransactionLogId="matAutocomplete"
                            (optionSelected)="filterChange(filterSelectObj[1], $event)">
                            <mat-option *ngFor="let option of filteredByTransactionLogId | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Filter by Status</mat-label>
                        <input type="text" matInput [formControl]="statusControl" [matAutocomplete]="autoStatus"
                            (change)="filterChange(filterSelectObj[2], $event)">
                        <mat-autocomplete autoActiveFirstOption #autoStatus="matAutocomplete"
                            (optionSelected)="filterChange(filterSelectObj[2], $event)">
                            <mat-option *ngFor="let option of filteredByStatus | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Filter by Connector</mat-label>
                        <input type="text" matInput [formControl]="connectorControl" [matAutocomplete]="autoConnector"
                            (change)="filterChange(filterSelectObj[2], $event)">
                        <mat-autocomplete autoActiveFirstOption #autoConnector="matAutocomplete"
                            (optionSelected)="filterChange(filterSelectObj[2], $event)">
                            <mat-option *ngFor="let option of filteredByConnector | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div> -->
                <!-- <div class="col-md-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Filter by StartTime</mat-label>
                        <input type="text" matInput [formControl]="startTimeControl" [matAutocomplete]="autoStartTime"
                            (change)="filterChange(filterSelectObj[3], $event)">
                        <mat-autocomplete autoActiveFirstOption #autoStartTime="matAutocomplete"
                            (optionSelected)="filterChange(filterSelectObj[3], $event)">
                            <mat-option *ngFor="let option of filteredByStartTime | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div> -->
                <!-- <div class="col-md-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Filter by StopTime</mat-label>
                        <input type="text" matInput [formControl]="stopTimeControl" [matAutocomplete]="autoStopTime"
                            (change)="filterChange(filterSelectObj[4], $event)">
                        <mat-autocomplete autoActiveFirstOption #autoStopTime="matAutocomplete"
                            (optionSelected)="filterChange(filterSelectObj[4], $event)">
                            <mat-option *ngFor="let option of filteredByStopTime | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div> -->
                <!-- <div class="col-md-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Filter by MeterStart</mat-label>
                        <input type="text" matInput [formControl]="meterStartControl" [matAutocomplete]="autoMeterStart"
                            (change)="filterChange(filterSelectObj[5], $event)">
                        <mat-autocomplete autoActiveFirstOption #autoMeterStart="matAutocomplete"
                            (optionSelected)="filterChange(filterSelectObj[5], $event)">
                            <mat-option *ngFor="let option of filteredByMeterStart | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div> -->
                <!-- <div class="col-md-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Filter by MeterStop</mat-label>
                        <input type="text" matInput [formControl]="meterStopControl" [matAutocomplete]="autoMeterStop"
                            (change)="filterChange(filterSelectObj[6], $event)">
                        <mat-autocomplete autoActiveFirstOption #autoMeterStop="matAutocomplete"
                            (optionSelected)="filterChange(filterSelectObj[6], $event)">
                            <mat-option *ngFor="let option of filteredByMeterStop | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div> -->
                <div class="col-md-4">
                    <button mat-raised-button color="primary" class="btn-primary mt-02"
                        (click)="resetFilters()"><i class="reset-icon"></i>Reset</button>
                </div>
                <div class="col-md-2">
                    <button mat-raised-button color="primary" class="btn-primary mt-02 w-100"
                        [disabled]="dataSource.data.length === 0" (click)="downloadReport()">
                        <img class="download-btn"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAACXBIWXMAAAsTAAALEwEAmpwYAAABoklEQVR4nO3aQU5bMRhFYU/KGug2YBCW1JZ9AkJsBWS1nR+ExIAB0kuQnfvMf74xkXn3xIMEWpMkSZKknQAugD/APfCf07295g74DfxIP89SgJ/AE+M8Apfp51rpnf80cPyPEbwJRwS4ZZ5fZ3kXrQx4mBjgLv18uwf8mxjgb/r5do/J0s+3exhg3wHa5NeXhwGyMIABSsMbYIDS8AYYoDS8AQYoDW+AAUrDG2CA0vAGGKA0vAEGKA1vgAFKwxtggNLwBhhgScAV8Jz+xyrm68ChVY3Qtn+HmuOfK0LbPr/u+OeI0LbPrj3+7Aht+9zR1ht/ZoS2feZI644/K0LbPm+U9cefEaFtnzXC9xn/ixE6cDPw7Gvgpez4yQg4fi4Cjp+LgOPnIuD4uQg4fi4Cjp+LgOPnIuD4uQg4/ljA4X3cYyOc8rPf8xPuAt+idsfPReiOn7sJ3fFzEbrj5yJ0x89F6I6fi9AdPxehO34uQnf8XITu+NmvLQ6p8yVJkiRJ0nAn/BFEnzBAmAHCDBBmgDADhBkgzABh4z8YSJIkSWqLewVojZyQB8ZauAAAAABJRU5ErkJggg==">
                        Download</button>
                </div>

            </div>

            <div class="mat-elevation-z8 ucg-table">
                <mat-table #table [dataSource]="dataSource"  matSort matSortActive="transactionId" matSortDirection="asc">

                    <ng-container matColumnDef="transactionId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> TransactionId </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.transactionId }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> TransactionLogId </mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="transationById(element);" style="cursor:pointer;"> {{ element.id }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="connectorId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ConnectorId </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="just-cent"> {{ element.connectorId }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="startTime">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.startTransactionMin |
                            date:"MM-dd-yyyy hh:mm a"}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="stopTime">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Stop Time </mat-header-cell>
                        <mat-cell *matCellDef="let element"> 
                            <label *ngIf="element.stopTime != null" class="form-label">{{ element.stopTransactionMin |
                                date:"MM-dd-yyyy hh:mm a"}}</label> 
                            <label *ngIf="element.stopTime== null" class="form-label">Not Available</label>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="meterStart">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Meter Start </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="just-cent"> {{ element.meterStart }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="meterStop">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Meter Stop </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="just-cent"> 
                            <label *ngIf="element.meterStop != null" class="form-label">{{ element.meterStop }}</label> 
                            <label *ngIf="element.meterStop== null" class="form-label">Not Available</label>    
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="chargingRate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Charging Rate </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="just-cent"> {{ element.chargingRate }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="just-cent"> {{ element.amount.toFixed(2) }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="detail" style="cursor: default;cursor:pointer;">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element"> <img src="/assets/zoom-in.svg"
                                (click)="transationById(element);" />
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="process" class="text-center norecord">
                    <img class="rotate" width="35" src="assets/greenprocess.png" />
                </div>
                <div *ngIf="!process && (dataSource.data.length == 0 || dataSource.filteredData.length == 0)" class="norecord">
                    {{'table.noRecordFound' | translate}}</div>

                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>
        </div>

    </div>
