<div class="margin-top-16 member-info-section">
    <div class="ucg-container">
        <div class="tenantFilterSection container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <span class="title-section">
                        <h4>Users List</h4>
                    </span>
                </div>
                <div class="col-md-6">
                    <span class="creation-button">
                        <button mat-raised-button color="primary" class="btn-primary" (click)="sendDetails({}, 'new')">{{'button.newUser' | translate }}</button>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Filter by Name</mat-label>
                        <input type="text" matInput [formControl]="userControl">
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Filter by Role</mat-label>
                        <input type="text" matInput [formControl]="userRoleControl">
                    </mat-form-field>
                </div>
                <div class="col-md-1">
                    <button mat-raised-button color="primary" class="btn-primary mt-02" (click)="resetFilters()"><i
                            class="reset-icon"></i>Reset</button>
                </div>
                <div class="col-md-7 flex-end">
                    <mat-slide-toggle [color]="'primary'" [(ngModel)]="showDeleted" (change)="getUsers()">Show
                        Deleted Records</mat-slide-toggle>
                </div>
            </div>
            <div class="mat-elevation-z8 ucg-table">
                <mat-table #table [dataSource]="dataSource" matSort matSortDirection="asc">
                    <!-- matSortActive="name" -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="sendDetails(element, 'view')"
                            style="cursor:pointer;"> {{ element.name }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="role">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element?.role?.replace('_', ' ') }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                        <mat-cell *matCellDef="let element" style="pointer-events: none;">
                            <label class="form-label">
                                <mat-slide-toggle [color]="'primary'" [checked]="element.status === 'Active'">
                                </mat-slide-toggle>
                            </label>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action" style="cursor: default;cursor:pointer;">
                        <mat-header-cell *matHeaderCellDef class="spc-action"> Action </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="spc-even">
                            <i matTooltip="Edit User Details" *ngIf="!showDeleted" class="editIcon pointer"
                                (click)="sendDetails(element, 'edit')"></i>
                            &nbsp; &nbsp; &nbsp;
                            <img matTooltip="Delete User" *ngIf="!showDeleted" width="24" src="/assets/delete.png"
                                (click)="deleteUser(element.id)" />
                            <img matTooltip="Undo Delete User" *ngIf="showDeleted" width="24" src="/assets/undelete.png"
                                (click)="undeleteUser(element.id)" />
                            <!-- <img *ngIf="element.used !== 0" src="/assets/zoom-in.svg"
                                (click)="sendDetails(element, 'view')" /> -->
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div *ngIf="process" class="text-center norecord">
                    <img class="rotate" width="35" src="assets/greenprocess.png" />
                </div>
                <div *ngIf="!process && (dataSource.data.length == 0 || dataSource.filteredData.length == 0)" class="norecord">
                    {{'table.noRecordFound' | translate}}</div>
                <mat-paginator #paginator [length]="totalCount" [pageIndex]="pageNumber" [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" (page)="pageChanged($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>