.sidenav {
  background-color: #1951a1;
  width: 270px;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%),
    0 8px 10px -5px rgb(0 0 0 / 20%);
  transition: transform 0.3s;
}
.dasboardIcon {
  background: url("/assets/home.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
}
.tenantIcon {
  background: url("/assets/tenant-white-icon.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
}
.siteCreation {
  background: url("/assets/sitemap.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
}
.transactionIcon {
  background: url("/assets/transfer-in.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
}
.sideNavbar {
  margin: 0;
  padding: 0;
}
.sideNavbar li a {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.sideNavbar li a i {
  padding: 1rem;
}
.sideNavbar li a.active {
  background: #85c45b !important;
}
.toggle {
  display: flex;
}
.colapsible-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.closed {
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}
.opened {
  max-height: 48px;
  background-color: #144486;
}
