.flex {
  display: flex;
}
.m-20 {
  margin-top: 20px;
}
.form-row {
  max-height: 300px;
  overflow-y: scroll;
  padding: 10px 0 0 5px;
}
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #f5f5f7 !important;
  color: #545a6d;
}